In [15]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [6]:
loans=pd.read_csv('lending_club_data01.csv')

In [7]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
0,10.65,162.87,3,13648,83.7,9,0,5
1,15.27,59.83,3,1687,9.4,4,1,4
2,15.96,84.33,2,2956,98.5,10,0,4
3,13.49,339.31,10,5598,21.0,37,0,4
4,7.90,156.46,9,7963,28.3,12,0,6

In [8]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 8 columns):
int_rate       1468 non-null float64
installment    1468 non-null float64
open_acc       1468 non-null int64
revol_bal      1468 non-null int64
revol_util     1468 non-null float64
total_acc      1468 non-null int64
bad_loans      1468 non-null int64
grade_num      1468 non-null int64
dtypes: float64(3), int64(5)
memory usage: 91.8 KB

In [9]:
loans.columns

Index(['int_rate', 'installment', 'open_acc', 'revol_bal', 'revol_util',
       'total_acc', 'bad_loans', 'grade_num'],
      dtype='object')

In [10]:
loans['good_loans']=loans['bad_loans'].apply(lambda y: 'yes' if y==0 else 'no')

In [11]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num,good_loans
0,10.65,162.87,3,13648,83.7,9,0,5,yes
1,15.27,59.83,3,1687,9.4,4,1,4,no
2,15.96,84.33,2,2956,98.5,10,0,4,yes
3,13.49,339.31,10,5598,21.0,37,0,4,yes
4,7.90,156.46,9,7963,28.3,12,0,6,yes

In [12]:
X=loans.drop(['bad_loans','good_loans'], axis=1)

In [13]:
y=loans['good_loans']

In [14]:
print (X.shape, y.shape)

(1468, 7) (1468,)

In [16]:
xtr,xte,ytr,yte=train_test_split(X,y,test_size=0.3,random_state=124)

In [17]:
model=DecisionTreeClassifier()

In [18]:
model.fit(xtr,ytr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [19]:
prediction=model.predict(xte)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix

In [22]:
print(confusion_matrix(yte,prediction))

[[ 16  51]
 [ 56 318]]

In [23]:
print(classification_report(yte,prediction))

              precision    recall  f1-score   support

          no       0.22      0.24      0.23        67
         yes       0.86      0.85      0.86       374

    accuracy                           0.76       441
   macro avg       0.54      0.54      0.54       441
weighted avg       0.76      0.76      0.76       441

In [24]:
#random forest

In [27]:
from sklearn.ensemble import RandomForestClassifier
ref_model=RandomForestClassifier(n_estimators=150)

In [29]:
ref_model.fit(xte,yte)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [31]:
ref_prediction = ref_model.predict(xte)

In [32]:
print( classification_report(yte,ref_prediction))

              precision    recall  f1-score   support

          no       1.00      1.00      1.00        67
         yes       1.00      1.00      1.00       374

    accuracy                           1.00       441
   macro avg       1.00      1.00      1.00       441
weighted avg       1.00      1.00      1.00       441

In [33]:
print( confusion_matrix(yte,ref_prediction))

[[ 67   0]
 [  0 374]]