In [3]:
import pandas as pd
import numpy as np
import matplotlib as pyplot
%matplotlib inline

In [7]:
data=pd.read_csv("pima.csv")
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [8]:
data.tail()

      6  148  72  35    0  33.6  0.627  50  1
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

In [9]:
data.describe()

,6,148,72,35,0,33.6,0.627,50,1
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,120.859192,69.101695,20.517601,79.903520,31.990482,0.471674,33.219035,0.348110
std,3.370877,31.978468,19.368155,15.954059,115.283105,7.889091,0.331497,11.752296,0.476682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,127.500000,36.600000,0.625000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
col=['pregnent','glucose','bp','skin','insulin_level','bmi','pedigree','age','diabetes_label']

In [11]:
data=pd.read_csv('pima.csv', names=col)
data.head()

,pregnent,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_label
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
data.count()

pregnent          768
glucose           768
bp                768
skin              768
insulin_level     768
bmi               768
pedigree          768
age               768
diabetes_label    768
dtype: int64

In [14]:
data.describe()

,pregnent,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_label
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [16]:
data.columns

Index(['pregnent', 'glucose', 'bp', 'skin', 'insulin_level', 'bmi', 'pedigree',
       'age', 'diabetes_label'],
      dtype='object')

In [20]:
feature=['pregnent','insulin_level','bmi','age']

In [21]:
x=data[feature]
y=data['diabetes_label']

In [23]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,random_state=0)

In [24]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(xte,yte)

C:\Users\wwwas\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [41]:
prediction=model.predict(xte)

In [26]:
from sklearn import metrics

In [28]:
print(metrics.accuracy_score(yte,prediction))

0.7135416666666666

In [29]:
yte.value_counts()

0    130
1     62
Name: diabetes_label, dtype: int64

In [31]:
yte.mean()

0.3229166666666667

In [40]:
#print ("predicted diabetes label: ",prediction.values[0:15])
print ("true diabetes label: ",yte.values[0:15])
print ("true diabetes label: ",prediction[0:15])

true diabetes label:  [1 0 0 1 0 0 1 1 0 0 1 1 0 0 0]
true diabetes label:  [0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]

In [42]:
print (metrics.confusion_matrix(yte,prediction))

[[119  11]
 [ 44  18]]

In [44]:
print (metrics.recall_score(yte,prediction))

0.2903225806451613

In [45]:
print (metrics.precision_score(yte,prediction))

0.6206896551724138